<% layout('/layouts/boilerplate') %>
<body>
    <h3>All Listings</h3>
    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card col listing-card">
                <img 
                    src="<%= listing.image %>" 
                    class="card-img-top" 
                    alt="listing_image" 
                    style="height:20rem"
                />
                <div class="card-img-overlay">abcd</div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b><br/>
                        <% if (listing.price) { %>
                            $<%= listing.price.toLocaleString("en-US", { style: 'currency', currency: 'USD' }).replace('$', '') %> /night
                        <% } else { %>
                            Price not available
                        <% } %>
                    </p>
                </div>
            </div>
        </a>
        <% } %>
    </div>
</body>

<!-- //index.ejs// -->